### Решение задачи 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
#Читаем CSV-файл
df = pd.read_csv('ratings.csv')

In [3]:
# Оставляем фильмы, у которых были оценки "5"
five_star_moivies = df.loc[df['rating'] == 5]

# Считаем количество пятерок у каждого фильма
five_star_moivies = five_star_moivies['movieId'].value_counts()

# Забираем ID первого элемента в серии
print(f'Фильм с максимальным количеством оценок "5" - это movieId = {five_star_moivies.keys()[0]}')

Фильм с максимальным количеством оценок "5" - это movieId = 318

### Решение задачи 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
import pandas as pd

In [5]:
#Читаем CSV-файл
df = pd.read_csv('power.csv')

In [6]:
# В этом блоке определяем параметры по которым будем фильтровать наш df

# Страны 
df_country_filters = ['Lithuania', 'Estonia', 'Latvia']

# Категории
df_category_filters = [4, 12, 21]

# Год начала отчетного периода
df_years_start_filters = 2005
# Год начала отчетного периода
df_years_end_filters = 2010

# Минимальный уровень потребления
df_quantity_filters = 0

In [7]:
# Фильтруем наш df
df.query('\
            country in @df_country_filters \
            and quantity >= @df_quantity_filters \
            and category in @df_category_filters \
            and year >= @df_years_start_filters \
            and year <= @df_years_end_filters\
            ', \
         inplace=True)

In [8]:
# Оставляем только нужные нам столбцы
df = df[['country', 'quantity']]

In [9]:
# Группируем и суммируем
df = df.groupby(['country']).sum()

# Выводим результат на экран Юпитера
df

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122296.0

### Решение задачи 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [10]:
import pandas as pd

In [11]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

In [12]:
# Выводим на экран df
df[0]

       Дата  Закрытие  Открытие  Максимум  Минимум
0  20.08.19    664509    669723    671013   664332
1  19.08.19    669988    666146    670475   662761
2  18.08.19    663195    665690    665690   656745
3  17.08.19    665690    665690    665690   665690
4  16.08.19    666146    660457    666146   658609
5  15.08.19    660768    660883    665773   656678
6  14.08.19    660595    649135    661139   649068
7  13.08.19    649139    654384    658773   647909
8  12.08.19    654513    652600    656787   652505
9  11.08.19    654345    652865    655210   652865