In [26]:
import numpy as np
import matplotlib.pyplot as plt 

import pandas as pd  

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [27]:
from sklearn.datasets import load_boston
boston_dataset_0 = load_boston()

In [28]:

# Читаем данные
X = pd.DataFrame(boston_dataset_0.data, columns=boston_dataset_0.feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [29]:
# Читаем целевую метрику
y = boston_dataset_0.target

In [30]:
X_4_education, X_4_predict, Y_4_education, Y_4_predict = train_test_split(X, y, test_size = .3, random_state=5)
linear = LinearRegression()
linear.fit(X_4_education, Y_4_education)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
linear_predict = linear.predict(X_4_education)

### Смотрим метрики для оценки качества модели

In [35]:
# Просто для удобства восприятия округлим все выходные значения до N-го знака
round_count = 5

print("R2: \t", round(r2_score(Y_4_education, linear_predict), round_count) )
print("RMSE: \t", round(sqrt(mean_squared_error(Y_4_education, linear_predict)), round_count) )
print("MAE: \t", round(mean_absolute_error(Y_4_education, linear_predict), round_count) )

R2: 	 0.76116
RMSE: 	 4.36673
MAE: 	 3.08483